*{
    margin:0;
    padding: 0;
    box-sizing :border-box;

}

body{
    font-family: "Raleway", Calibri, sans-serif;

}
header{
    display: flex;
    color: white;
    background: black;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
ul{
    display:flex;
    list-style-type: none;
}

li{
    padding: 1rem;
    margin :0 10px;
    font-size: larger;

}

main{
    display: flex;
    height: 100vh;
   
    
}
aside{
    flex: 1;
    background-color: aqua;
    display: flex;
    flex-direction: column;
    align-items: center;

}
section{
    flex:4;
    background-color: rgb(25, 150, 33);
    display: flex;
}

.box{
    width: 150px;
    height: 150px;
    background-color: brown;
    margin: 1rem;
    font-size: larger;
}